<mat-card>
  <mat-card-content class="selector-content">
    <h4>Movies</h4>
    <div *ngIf="loading">
      <mat-spinner diameter=42></mat-spinner>
    </div>
    <div *ngIf="errors">
      Error :(
    </div>
    <div *ngIf="films">
      <mat-form-field>
        <mat-select (selectionChange)="onSelectionChange($event)" placeholder="select a movie">
          <mat-option *ngFor="let film of films" [value]="film.id">
            {{ film.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
