<mat-card>
  <mat-card-content class="selector-content">
    <p class="selector-title" [ngClass]="{'inactive': !characters}">Character</p>
    <div *ngIf="loading">
      <mat-spinner diameter=42></mat-spinner>
    </div>
    <div *ngIf="errors">
      Error :(
    </div>
    <div *ngIf="!loading">
      <mat-form-field>
        <mat-select [disabled]="!characters" (selectionChange)="onSelectionChange($event)" placeholder="select a character">
          <mat-option *ngFor="let item of characters" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
